@font-face {
    font-family: "museo_slab";
    src: 
        url("../fonts/museo_slab_500-webfont.woff") format("woff"),
        url("../fonts/museo_slab_500-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "museo_slab";
    src: 
        url("../fonts/museo_slab_100-webfont.woff") format("woff"),
        url("../fonts/museo_slab_100-webfont.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "museo_slab";
    src: 
        url("../fonts/museo_slab_300-webfont.woff") format("woff"),
        url("../fonts/museo_slab_300-webfont.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "museo_slab";
    src: 
        url("../fonts/museo_slab_700-webfont.woff") format("woff"),
        url("../fonts/museo_slab_700-webfont.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "museo_slab";
    src: 
        url("../fonts/museo_slab_900-webfont.woff") format("woff"),
        url("../fonts/museo_slab_900-webfont.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "museo_slab";
    src: 
        url("../fonts/museo_slab_1000-webfont.woff") format("woff"),
        url("../fonts/museo_slab_1000-webfont.woff2") format("woff2");
    font-weight: 1000;
    font-style: normal;
}

